.clock {
  position: relative;
  width: var(--ck-size);
  height: var(--ck-size);
  border-radius: var(--ck-border-radius);
  border: var(--ck-border-width) solid var(--ck-border-color);

  .arrow-hours,
  .arrow-minutes,
  .arrow-seconds {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    width: .125rem;
    height: 50%;
    transform-origin: bottom;
  }

  .arrow-hours {
    background-color: var(--ck-arrow-hours-color);
    transform: rotate(var(--ck-arrow-hours-angle));
  }
  .arrow-minutes {
    background-color: var(--ck-arrow-minutes-color);
    transform: rotate(var(--ck-arrow-minutes-angle));
  }
  .arrow-seconds {
    background-color: var(--ck-arrow-seconds-color);
    transform: rotate(var(--ck-arrow-seconds-angle));
  }
}
