:root {
  --ck-arrow-hours-color: chartreuse;
  --ck-arrow-minutes-color: crimson;
  --ck-arrow-seconds-color: gold;

  --ck-arrow-hours-angle: 0deg;
  --ck-arrow-minutes-angle: 0deg;
  --ck-arrow-seconds-angle: 0deg;

  --ck-border-width: .125rem;
  --ck-border-color: white;
  --ck-border-radius: 100%;

  --ck-size: 12.5rem;
}
